{% block block_content %}
    <div class="block {{ block_type }}">
        <div class="block__inner">
            {% if title %}
                <div class="block__title">
                    {% if auditory %}
                        <span class="auditory">{{ auditory }}</span>
                    {% endif %}
                    <h3 class="title--1">{{ title }}</h3>
                </div>
            {% endif %}
            {% if (dates or weeks) %}
                <div class="block__dates-wrapper">
                    {% if dates %}
                        <div class="block__dates">
                            {% for date in dates %}
                                <span class="block__date underline">
                                    {{ date }} <br>
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if weeks %}
                        <div class="block__weeks"><span class="underline"> {{ weeks }}</span> </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if body %}
                <div class="block__body"><p class="text {{ text_type }}">{{ body }}</p> </div>
            {% endif %}
        </div>
    </div>
{% endblock block_content %}